.slider-wrap {
  position: relative;
  overflow-x: hidden;
  height:150px;
}

.slider-main {
  position: absolute;
  width: 156%;
}

.item {
  position: relative;
  width: 332px;
  height: 100px;
  display: inline-block;
  background-color: orangered;
  border: 2px solid black;
  margin: 4px;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

.btn-area{
  position: absolute;
  bottom: 5px;
  left: 50%;
}
